
.header-main{
    background-image: url(img/Virselis01.jpeg);
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    background-position: center center;
    background-size: cover;   
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 240px;

.overlay-text {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
    z-index: 2;
    color: #fff;
    .dar-vienas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    h1{
        font-family: serif;
        font-size: 58px;
        text-align: left;
        margin:0;
        margin-bottom: 30px;
        
    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
    }
    a{
        display: inline-block;
        border: 2px solid white;
        border-radius: 3px;
        padding: 15px 30px;
        color: white;
        margin-top: 30px;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        &:hover{ 
            background-color: white;
            color: black;
        }
    }
}
}
}

.men-inner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 310px;
        cursor: pointer;
        // transition: all 1s;
    
    .dar-vienas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        
        
        h1{
            font-family: serif;
            font-size: 34px;
            text-align: left;
            margin:0;
            // margin-bottom: 30px;
            
        }
        p{
            display: inline-block;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            margin-top: 10px;
            overflow: hidden;
            transition: all 1s;
            opacity: 0;
        }
        a{
            display: inline-block;
            border: 2px solid white;
            border-radius: 3px;
           padding:15px 30px;
            color: white;
            margin-top: 10px;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 14px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            overflow: hidden;
            transition: all 1s;
            opacity: 0;
        }
    }
    &:hover{ 
        
        p{
            display: inline-block;
            opacity: 1;
            margin-bottom: 1px;
            
        }
       a{
           
           display: inline-block;
            opacity: 1;
            margin-bottom: 30px;
   
           &:hover{ 
            transition: all .5s;
               background-color: white;
               color: black;
           }
       }
   }
}

.video-bin-inner{
    position: relative;
    display: flex;
    margin-left: 240px;

    .overlay-text1 {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        z-index: 2;
        color: #fff;
            .dar-vienas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        
            h1{
                font-family: serif;
                font-size: 58px;
                text-align: left;
                margin:0;
                margin-bottom: 30px;
                text-align: center;
                
                
            }
            p{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 22px;
                text-align: center;
            }
            a{
                display: inline-block;
                border: 2px solid white;
                padding: 15px 30px;
                color: white;
                margin-top: 30px;
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 14px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                
                &:hover{ 
                    background-color: white;
                    color: black;
                }
            }
        }
    }
    
}

.product-section{
    display: flex;
    margin-left: 240px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .product-img{
        display: flex;
        flex-direction: row;
        height: 400px;
        overflow: hidden;
        width: auto;
        margin: 20px;
        border: 1px solid #e7e7e7;
        img{
            height: 400px;
            width: auto;
        }
    }
    .product-info{
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow: hidden;
        min-width: 350px;
        // margin:20px;
    
        h3{
            font-family: serif;
            font-size: 23px;
            margin-bottom: 10px;
        }
        .price-area{
            font-size: 23px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 10px;
        }
        .product-options{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 300px;
            // margin:10px;
            margin-left: 0;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            padding-top: 30px;
            padding-bottom: 60px;
            label{
                font-size: 14px;
                margin-bottom: 10px;
            }
            select{
                color:#333333;
                font-size: 15px;
                padding: 8px 40px 8px 19px;
                background: #fff url(data:image/svg+xml;utf8,%3Csvg%20fill%3D%22%23616161%22%20height%3D%2224%22%20viewBox%3D%220%200%2030%2024%22%20width%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.41%207.84L12%2012.42l4.59-4.58L18%209.25l-6%206-6-6z%22%2F%3E%3Cpath%20d%3D%22M0-.75h24v24H0z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E) no-repeat right center;
                width: 200px;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: 3px;
                cursor: pointer;
                margin-bottom: 10px;
                outline: none;
                appearance: none;

            }
            a.l1, .l2{
                display: inline-block;
                border: 1px solid #f45902;
                border-radius: 3px;
                padding: 15px 10px;
                margin-top: 10px;
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 14px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                text-decoration: none;
                width: 300px;
                color: #f45902;
                cursor: pointer;
                &:hover{
                    background-color: #f45902;
                    color: #fff;
                }
                
            }
            a.l2{
                background-color: #f45902;
                color: #fff;
                &:hover{
                    opacity: .7;
                }
            }
            
        }
        .details{
            font-size: 14px;
            color: #f45902;
            margin-top: 30px;
            &:hover{
                color: #ac4a11;
            }
        }


    }
}

.butt{
    // position: absolute;
    display: inline-block;
    border: 1px solid #f45902;
    border-radius: 3px;
    padding: 10px 5px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    width: 120px;
    color: #fff;
    cursor: pointer;
    background-color: #f45902;
    // bottom: 5px;
    
    
     &:hover{
        opacity: .7;
    }
    display: none;
}

.inbox{
    display: flex;
    margin:40px;
    margin-left: 280px;
    align-items: center;
    flex-direction: row;
    .inbox-bin{
        padding: 40px;
        background-color: #f2f2f2;
        width: 100%;
        .inbox-title{
            font-size: 22.4px;
            font-family: sans;
            margin-bottom: 20px;

        }
        p{
            font-size: 14px;
            color: #343434;
            margin-bottom: 10px;

        }
        input{
        box-sizing: border-box;
        font-family: "Gill Sans Nova",sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        height: auto;
        background: #fff;
        color: #444;
        border: 1px solid rgba(0,0,0,.15);
        margin: 0;
        padding: 14px 20px;
        vertical-align: middle;
        border-radius: 3px;
        outline: none;
        width: 60%;
        display: inline-block;
        }
        a{
            display: inline-block;
                border: 1px solid #f45902;
                border-radius: 3px;
                padding: 14px 3em;
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                text-decoration: none;
                // width: 300px;
                background-color: #f45902;
                color: #fff;
                cursor: pointer;
                margin-left: 20px;
                &:hover{
                    opacity: .7;
                }
        }
    }
}




@media screen and (max-width:850px) {
  
    .video-bin-inner{
        width: 100%;
        position: absolute;
        display: flex;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    
        .overlay-text1 {
            position: relative;
            margin-left: 0;
            width: 100%;
        }

    }
    .product-section{
        margin-left: 0;
    }
    .inbox{
   
        margin-left: 40px;
    }
}   
