* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: 600px; */
  /* flex-wrap: wrap; */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.head-bin {
  /* width: 100%; */
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-row {
  display: none;
  width: 100vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background-color: #141414;
}

.nav-column {
  position: fixed;
  height: 100vh;
  width: 240px;
  /* display: block; */
  /* flex-basis: 0; */
  background-color: #141414;
}

.navi a {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: block;
  margin: 0 27px;
  padding: 5px 0;
  -webkit-transition: 250ms border-color;
  transition: 250ms border-color;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  margin: 0 27px;
  padding: 14px 0;
  line-height: 1.8;
}

.navi a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.pg-head-bin {
  height: 100vh;
  width: calc(100% - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* flex-shrink: 1; */
}

.pg-head {
  height: 30px;
  background: #f45902;
  color: #fff;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  padding: 1px 20px;
  margin-left: 240px;
}

.pg-head .pg-head-inner {
  padding: 0;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pg-head .pg-head-inner .account-links {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 6px;
}

.pg-head .pg-head-inner .account-links a {
  color: #fff;
}

.pg-head .pg-head-inner .account-links a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.head-link {
  margin: 0;
  padding: 7px 0 0 0;
  border: 0;
  font: inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .8px;
  text-align: center;
}

.cart {
  display: inline;
  padding: 0px 15px;
  margin-left: 15px;
  border-left: solid rgba(255, 255, 255, 0.226) 0.5px;
}

.currency-button {
  background: 0 0;
  border: none;
  color: inherit;
  padding: 0 23px 0 0;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  text-transform: none;
  white-space: nowrap;
  letter-spacing: 0;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  height: auto;
}

.header-main {
  background-image: url(img/Virselis01.jpeg);
  width: 100%;
  height: 100vh;
  /* border: 1px solid black; */
  background-position: center center;
  background-size: cover;
  position: relative;
  display: block;
  margin-left: 240px;
}

.main-item, .main-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 240px;
  margin-left: 240px;
}

.men, .women, .hero, .soctober, .gear {
  display: block;
  background-image: url(img/men.jpg);
  background-position: center center;
  background-size: cover;
  height: 310px;
  width: 100%;
  margin: 50px 70px 0 70px;
}

.men {
  background-image: url(img/men.jpg);
}

.women {
  background-image: url(img/women.jpeg);
  margin-top: 20px;
}

.hero {
  background-image: url(img/gopro.jpeg);
  margin-top: 20px;
}

.soctober {
  background-image: url(img/Socktober.jpeg);
  margin-top: 20px;
}

.gear {
  background-image: url(img/GearPatrol.jpeg);
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .nav-column {
    display: none;
  }
  .nav-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 125px;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-row .logo-bin2 {
    display: block;
    height: 125px;
    width: 125px;
  }
  .cart-bin {
    margin-right: 20px;
    padding: 55px 0 0 0;
    border: 0;
    font: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .8px;
  }
  .cart-bin a {
    color: #fff;
  }
  .cart-bin a:hover {
    color: rgba(255, 255, 255, 0.9);
  }
  .burger-bin {
    margin-left: 40px;
    padding: 55px 0 0 0;
    width: 150px;
    font-size: 20px;
  }
  .header-main {
    margin: 0;
    height: calc(100vh - 180px);
  }
  .pg-head-bin {
    width: 100vw;
    height: calc(100vh - 130px);
  }
  .pg-head {
    height: 30px;
    background: #f45902;
    color: #fff;
    text-align: center;
    padding: 1px 20px;
    width: 100vw;
    margin: 0;
  }
  .pg-head .account-links {
    display: none;
  }
  .pg-head .pg-head-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-bin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-bin .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 50px 0 50px;
  }
  .main-bin .row .main-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-bin .row .main-item .men, .main-bin .row .main-item .women, .main-bin .row .main-item .soctober, .main-bin .row .main-item .gear {
    display: block;
    height: 310px;
    width: 100%;
    margin: 0 10px 0 10px;
  }
  .main-bin .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 60px 0 60px;
  }
  .main-bin .row2 .main-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-bin .row2 .main-item2 .hero {
    display: block;
    height: 310px;
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .main-bin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 240px;
  }
  .main-bin .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 50px 0 50px;
  }
  .main-bin .row .main-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-bin .row .main-item .men, .main-bin .row .main-item .women, .main-bin .row .main-item .soctober, .main-bin .row .main-item .gear {
    display: block;
    height: 310px;
    width: 100%;
    margin: 0 10px 0 10px;
  }
  .main-bin .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 60px 0 60px;
  }
  .main-bin .row2 .main-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-bin .row2 .main-item2 .hero {
    display: block;
    height: 310px;
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */