*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
    flex-direction: column;
    /* height: 600px; */
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-evenly;

}
.head-bin{
    /* width: 100%; */
    background-color:palegoldenrod;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-row{
display: none;
width: 100vw;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgba(255,255,255,.9);
background-color: #141414;
}



.nav-column{
    // position: fixed;
    height: 100vh;
    width: 240px;
    // background-color: rgb(148, 128, 128);
    /* display: block; */
    /* flex-basis: 0; */
    background-color: #141414;
    
    }

    
   .navi a{
        padding: 14px 0;
        border-bottom: 1px solid rgba(255,255,255,.25);
        display: block;
        margin: 0 27px;
        padding: 5px 0;
        transition: 250ms border-color;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgba(255,255,255,.9);
        font-size: 12px;
        margin: 0 27px;
        padding: 14px 0;
        line-height: 1.8;
        
    }
    .navi a:hover{border-bottom: 1px solid rgba(255,255,255,.9);}

.pg-head-bin{
    height: 100vh;
    background-color: rgb(194, 187, 173);
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    /* flex-shrink: 1; */

}
.pg-head{
    height: 30px;
    background: #f45902;
    color: #fff;
    // text-align: center;
    position: static;
    z-index: 4;
    left: 240px;
    top: 0;
    right: 0;
    padding: 1px 20px;
    // width: calc (100vw - 240px);
    .pg-head-inner{
        padding: 0 ;
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        .account-links{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 12px;
                font-weight: lighter;
                // text-align:start;
                margin-top: 6px;
                
                a{
                    color: #fff;
                    
                }
                a:hover{
                    color: rgba(255,255,255,.9);
                }
        }
        
    }
}

.head-link{
    margin: 0;
    padding: 7px 0 0 0;
    border: 0;
    font: inherit;
    // vertical-align: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255,255,255,.9);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .8px;
    text-align: center;
}
.cart{
    display: inline;
    padding: 0px 15px;
    margin-left: 15px;
    border-left: solid rgba(255, 255, 255, 0.226) .5px;
}
.currency-button{
    background: 0 0;
    border: none;
    color: inherit;
    padding: 0 23px 0 0;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    text-transform: none;
    white-space: nowrap;
    letter-spacing: 0;
    display: inline-block;
    margin: 0;
    font-size: 12px;
    
    height: auto;
}


.header-main{
    background-image: url(img/Virselis01.jpeg);
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    background-position: center center;
    background-size: cover;   
    position: relative;
    display: block;
}

@media screen and (max-width:800px) {
    .nav-column{
        display: none;
        
    }
    .nav-row{
        display: flex;
        height: 125px;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
      
        .logo-bin2{
           display: block;
           height: 125px;
           width: 125px;
           

       }
       .cart-bin{
        margin-right: 20px;
        padding: 55px 0 0 0;
        border: 0;
        font: inherit;
        // vertical-align: baseline;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgba(255,255,255,.9);
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .8px;
            a{
                color: #fff;     
            }
            a:hover{
                color: rgba(255,255,255,.9);
            }
        }
    .burger-bin{
        margin-left: 40px;
        padding: 55px 0 0 0;
        width:150px;
        font-size: 20px;
    }
    }

    .pg-head-bin{
        
        width: 100vw;
    }
    .pg-head {
        height: 30px;
        background: #f45902;
        color: #fff;
        text-align: center;
        padding: 1px 20px;
        width: 100vw;
        
        .account-links{
            display: none;
        }
        .pg-head-inner{
            justify-content: center;
        }
    }
}